.game-page {
  text-align: center;
  font-family: Arial;
  background: #f2f2f2;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
  justify-content: center;
  margin: 30px auto;
}

.cell {
  width: 100px;
  height: 100px;
  background: white;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}
